<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Git Immersion</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A guided tour that walks through the fundamentals of Git">
    <meta name="theme-color" content="#0000ff">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" media="screen" href="reset.css">
    <link rel="stylesheet" media="screen" href="home.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1142510-7']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body id="index_body" class="animation-fade-in">
    <h1>Git Immersion</h1>

    <p><em>A guided tour that walks through the fundamentals of Git, inspired by the premise that to know a thing is to do it.</em></p>

    <hr>

    <p>Git is a powerful, sophisticated system for distributed version control. Gaining an understanding of its features opens to developers a new and liberating approach to source code management. The surest path to mastering Git is to immerse oneself in its utilities and operations, to experience it first-hand.</p>

    <ul>
      <li><a href="http://git-scm.com/download" target="_blank" rel="noopener">Install Git</a></li>
      <li><a href="https://git-scm.com/downloads/guis" target="_blank" rel="noopener">Graphical Clients</a></li>
    </ul>

    <a class="start" href="lab_01.html">Start Git Immersion</a>

    <div class="footer">
      <p>
        GitImmersion is released under a
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0" target="_blank" rel="noopener">Creative Commons BY-NC-SA 3.0 License.</a>
      </p>

      <p>️️❤️  Maintained with love for our dear friend <a href="https://en.wikipedia.org/wiki/Jim_Weirich" target="_blank" rel="noopener">Jim Weirich</a>.</p>
    </div>
  </body>
</html>
